USE [AnsonsPersonalDB]
GO

/****** Object:  Table [dbo].[SPORTS]    Script Date: 10/25/2023 10:02:14 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[SPORTS](
	[NAME] [varchar](40) NULL,
	[PLAYERNUM] [int] NULL,
	[DURATION] [int] NULL
) ON [PRIMARY]
GO


